body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;

}
.navigation{
  align-items: center;
  display: flex;
  justify-content: space-around;
  background-color: grey;
  height: 100px;
  
}
.navigation li{
  color: white;
  list-style: none;
  font-size: larger;
}

/*# sourceMappingURL=main.chunk.css.map*/